@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora:ital@1&family=Oswald:wght@300&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    font-family:KYanone Kaffeesatz, sans-serif ;
}
body {
    background-color:white;
    background-image: url(../images/f1-image.jpg);
    background-repeat: no-repeat;

}

h1 {
    text-align: center;
    font-size: 360%;
    font-weight: 700;
    padding-top: 5px;
    margin-top: 3px;
    
}

a {
    text-decoration: none;
    color: rgba(255, 0, 0, 0.952);
    font-weight: 700;
}

/* Style for quiz box below header*/

#index-box {
    width: 80%;
    height: 400px;
    color:black;
    margin: 0 auto;
    background-color: rgb(180, 180, 180,0.7);
    border: solid black 2px;
    border-radius: 10px;
    
}

h2 {
    text-align: center;
    font-size: 300%;
    margin: 5px;
}

#start-button {
    display: block;
    margin: 20px auto;
    padding:2%;
    font-size: 200%;
    height: 30%;
    width: 40%;
    background-color: rgb(230, 230, 230);
    border:solid black 1px;
    border-radius: 10px;
    text-align: center;
    
   background-color: red;
    color: white;
}

#quiz-container {
    height: 550px;
    width: 80%;
    background-color: rgb(180, 180, 180,0.7);
    margin: 0 auto;
    border-radius: 10px 10px;
}

#questions {
    height: 35%;
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
}

#answer-grid {
    height: 200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.answer-btn {
    font-size: 145%;
    font-weight: 300;
    width: 40%;
    height: 30%;
    margin: 1%;
    border: 0.5px solid black;
    border-radius: 10px;
    
}

.answer-btn:hover {
    border: 2px solid blue;
}

/* Scoring area and navigation code*/
.score-area {
    width: 80%;
    height:100px;
}

#scores{
    margin-left: 30px;
    padding: 2px;
    font-size: 130%;
    
}

#next, #restart {
    display:block;
    float: right;
    font-size: 100%;
    font-weight: 300;
    width: 10%;
    height: 15%;
    border: 0.5px solid black; 
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

#next:hover, #restart:hover {
    border: solid gold 2px;
    color: black;
}

/* Media Queries*/

@media screen and (max-width:900px) {
    h2{
        font-size: 230%;
    }

    #restart,#next {
        font-size: 65%;
        text-align: center;
    }
    
}


@media screen and (max-width:600px) {
    .answer-btn{
        font-size: 80%;
    }

    h2{
        font-size: 150%;
    }

    #restart, #next {
        display: block;
        width: 20%;
    }

    
}
/* Media query specifically targetting button misalignment below 440px*/
@media screen and (max-width:440px) {
    #quiz-container {
        height: 700px;
    }

    #answer-grid{
        height: 300px;
    }
    .answer-btn{
        margin: 5%;
        width: 90%;
        height: 20%;
        display: block;
        font-size: 90%;
    }
    #navigation {
        margin-top: 20px;
        position: relative;
        bottom: 20px;
        display: block;
        
    }

    .score-area {
        bottom: 50px;
        clear: both;
    }
}

@media screen and (max-width:320px) {
    #restart, #next{
        width: auto;
    }
}